[color]
  ui = auto
[alias]
  st = status
  staged = diff --staged
  co = checkout
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[user]
  email = william.dix@getbraintree.com
  name = dix
[push]
  default = simple
[github]
  user = wjdix
