[color]
  ui = auto
[alias]
  st = status
  staged = diff --staged
  co = checkout
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
  editor = emacsclient -t -a=\"\"
[user]
  email = william.dix@greensill.com
  name = dix
[push]
  default = simple
[rebase]
  autosquash = true
[github]
  user = wjdix
