[submodule "zsh/.zsh/pure"]
	path = zsh/.zsh/pure
	url = git@github.com:sindresorhus/pure.git
[submodule "vim_dotfiles"]
	path = vim_dotfiles
	url = git@github.com:wjdix/vim_dotfiles.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs
